flaskr/__pycache__/app.cpython-39.pyc
flaskr/__pycache__/app.cpython-38.pyc
flaskr/__pycache__/dataCapture.cpython-38.pyc
flaskr/templates/loggedIn.hl
flaskr/__pycache__/dataCapture.cpython-38.pyc
flaskr/__pycache__/dataCapture.cpython-38.pyc
