hr {
	height: 2px;
	background-color: #800000; /*maroon*/
	border: none;
}

h1 {
	text-align: center
}

h2 {
	text-align: center
}

.pagination a {
	color: #800000;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	background-color: #800000;
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color:#ddd;
	border-radius: 5px;
}

#style-toggle-button {
	background-color: #800000;
	color: white;
	text-align: center;
	border-radius: 12px;
	float: right;
}

body {
	background-color: #aaa7a8; /* original is white */
	background-color: radial-gradient(circle, rgba(138,170,239,1) 0%, rgba(255,255,255,1) 100%);
	color: #800000
}

#name {
	text-align:center;
}
* {
	box-sizing: border-box;
}

.center {
	margin: auto;
	width: 100%;
}

/* allows columns to float next to each other */
.column {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding-left: 500px;
	padding-right: 500px;
	/*margin-left: 90px;*/
}

/* removes extra margins */
.row {
	/*margin: 0 -5px;*/
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/*padding: 10px;*/
	
}

/* clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* styles the counter cards */
.card {
	display: flex;
  	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* card effect */
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
}

/*Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}
.socials {
	text-align:center;
	bottom: 0%;
	/*position: fixed;*/
}

.socials-img {
	width: 50px;
	height: 50px;
	display:inline-block;
}